.pag404 {
    div {
        text-align: center;

        img {
            height: 100vh;

            @include mixin.movil {
                width: 100%;
            }

            @include mixin.minitablet {
                width: 100%;
            }

            @include mixin.tablet {
                width: 100%;
            }
        }
    }
}